body{
    background-color: rgb(11,20,22);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
textarea:focus,
        input:focus {
            outline: none;
        }
.header{
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(36,44,46);
    flex-direction: row;
}
.content{
    height: 100vh;
    display: flex;
}
.left-side{
    width: 20%;
    display: flex;
}
.reddit-logo{
    padding-left: 10px;
}
.header-left-side{
    display: flex;
}
.search-bar-part{
    display: flex;
    height: 40px;
    width: 567px;
    background-color:rgb(34,50,55);
    border-radius: 20px;
}
.search-bar-part:hover,
.search-bar:hover,.search-button:hover{
    background-color: rgb(45, 65, 71);
    transition: background-color 0.10s,
        color 0.15s;
}
.search-bar{
    background-color: rgb(34,50,55);
    border: none;
    color:rgb(130,149,155);
    width: 485px;
}
.search-button{
    background-color: rgb(34,50,55);
    color: white;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}
.header-right-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.get-app-part{
    display: flex;
    height: 40px;
    width: 105px;
    background-color: rgb(34,50,55);
    color: white;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: space-between;
}
.log-in{
    background-color: rgb(217,58,0);
    height: 40px;
    width: 67px;
    border-radius: 20px;
    color: white;
    border: none;
}
.open-settings-menu{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(11,20,22);
    color: white;
    border: none;
    padding-right: 10px;
}
.open-settings-menu:hover,.get-app-part:hover{
    background-color: rgb(45, 65, 71);
     transition: background-color 0.10s;
}
.get-app-text{
    align-items: center;
    padding-right: 10px;
}
.sidebar{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width:20%;
    border-right: 1px solid rgb(36,44,46);
    top:57px;
}
.left-top-part,.topics-part,.resources,.resources-part{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(36,44,46);
}
.home-part,.popular-part,.topics-sections,.resources-sections{
    display: flex;
    height: 40px;
    align-items: center;
}
.home-part:hover,.popular-part:hover,.topics-sections:hover,.topics-header-text:hover
,.see-more-text:hover,.resources-sections:hover,.resources-text-item:hover,.communities:hover{
    background-color: rgb(45, 65, 71);
    transition: background-color 0.10s;
    border-radius: 7px;
}
.left-menu-item-text{
    margin-left: 15px;
    font-size: 14px;
    color: white;
}
.topics-header-text,.resources-text-item{
    color: rgb(174,180,182);
    height: 40px;
    font-size: 12px;
    padding-top: 15px;
}

.see-more-text{
    font-size: 14px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.right-side{
    width: 100%;
    min-height: 100vh;
}
.right-upper-part{
    /* display: flex; */
    width: 100%;
    /* height: 300px; */
    /* width: 80%;
    padding-left: 5px; */
    height: 200px;
}
.news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news-container{
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
    display: inline-block;
    width: 280px;
    min-height: 250px;
}
.news-photo{
    position: absolute;
    width: 280px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    filter: brightness(70%);
} 
.news-text-top{
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    bottom: 110px;
    left: 28px;
    
}
.news-text-bottom {
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: 14px;
    bottom:90px;
    left: 28px;
} 
.subreddit-owner{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 55px;
    left:28px;
}
.subreddit-picture{
    height: 24px;
    width: 24px;
}
.subreddit-text{
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
.right-bottom-part{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.right-bottom-part-left{
    width: 55%;
    height: 100%;
    padding-left: 30px;
}

.right-bottom-part-right{
    width: 30%;
}
.populer-communities{
    width: 320px;
    height: 380px;
    background-color: rgb(4,9,10);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.populer-communities-text{
    color: rgb(130,149,155);
    font-size: 12px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
}
.communities{
    display: flex;
    height: 55px;
    align-items: center;
}
.community-image{
    height: 32px;
    width: 32px;
    border-radius: 16px;
    padding-left: 30px;
}
.community-info{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.community-name{
    color: rgb(184,197,201);
    font-size: 14px;
}
.community-membernumber{
    color: rgb(130,149,155);
    font-size: 12px;
}
.seemore-text{
    color: white;
    font-size: 12px;
    margin-left: 30px;
    margin-top: 10px;
}
.seemore-text:hover{
    background-color: rgb(45, 65, 71);
    transition: background-color 0.10s;
    border-radius: 7px;
}
.posts-menu{
    height: 35px;
    display: flex;
    border-bottom: 1px solid rgb(36,44,46);
}
.hot,.everywhere,.view{
    display: flex;
    align-items: center;
    color: rgb(184,197,201);
    padding-left: 20px;
}
.hot-text,.everywhere-text{
    color:  rgb(130,149,155);;
    font-size: 12px;
}
.hot:hover,.everywhere:hover,.view:hover{
    background-color: rgb(45, 65, 71);
    transition: background-color 0.10s;
    border-radius: 7px;
}
.posts{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(36,44,46);
}
.post-info{
    display: flex;
    height: 40px;
    color: rgb(184,197,201);
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}
.subreddit-part{
    display: flex;
    align-items: center;
}
.subreddit-name{
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
}
.left-part{
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.time-info{
    padding-left: 5px;
    font-size: 12px;
    color:  rgb(130,149,155);;
}
.join-button{
    color: white;
    background-color: rgb(0,69,172);
    border-radius: 12px;
    font-size: 12px;
    height: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
}
.options{
    align-items: center;
    padding: 8px;
    margin-left: 15px;
}
.join-button:hover{
    background-color: rgb(24,112,244);
    transition: background-color 0.10s;
    border-radius: 12px;
}
.options:hover{
    background-color: rgb(34,50,55);
    transition: background-color 0.10s;
    border-radius: 18px;
}
.post-caption{
    height: 40px;
    font-size: 19px;
    color: white;
    font-weight: 600;
    padding-left: 10px;
}
.post-image-part{
    padding-left: 10px; 
}
.post-image{
    border-radius: 10px;
}
.post-description{
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgb(184,197,201);
    font-size: 14px;
}
.like-comment-share{
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
}
.like{
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(26,40,45);
    border-radius: 15px;
    margin-left: 15px;
    font-size: 12px;
}
.like-icon{
    margin-left: 9px;
}
.like-icon:hover{
    background-color:rgb(34,50,55);
    transition: background-color 0.10s;
    color: red;
}
.dislike-icon{
    margin-left: 9px;
}
.dislike-icon:hover{
    background-color:rgb(34,50,55);
    transition: background-color 0.10s;
    color: purple;
}
.like-count{
    margin-left: 9px;
}
.comment{
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(26,40,45);
    border-radius: 15px;
    margin-left: 35px;
    font-size: 12px;
}
.comment-icon{
    margin-left: 10px;
}
.comment-count{
    margin-left: 10px;
}
.share{
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(26,40,45);
    border-radius: 15px;
    margin-left: 35px;
    font-size: 12px;
}
.share-icon{
    margin-left: 10px;
}
.share-text{
    margin-left: 10px;
}
.comment:hover,.share:hover{
    background-color: rgb(34,50,55);
    transition: background-color 0.10s;
}






